<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="/uploadPhoto" method="post" enctype="multipart/form-data">

        <table border="1px solid red">
            <tr>
                <td>文件1</td>
                <td>
                    <input name="file" type="file"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="提交"/>
                </td>
            </tr>
        </table>

    </form>


</body>
</html>